* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #e5e7eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  background: #fff;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.chat-header {
  padding: 15px;
  background: #4f46e5;
  color: white;
  text-align: center;
  font-weight: bold;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.received {
  background: #e5e7eb;
  align-self: flex-start;
}

.sent {
  background: #4f46e5;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-input button {
  padding: 10px 15px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 5px;
}
